.itemCard {
      @apply min-h-[420px] relative h-full cursor-pointer;
      &__icon {
            @apply flex gap-2 items-center my-3;
      }
      &__title {
            @apply overflow-hidden whitespace-pre-wrap;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
      }
}
